In [2]:
## Create 5 variable with diifrent values and print them using print() function

first_name ="Code square"
second_name ="Data science"
third_name =123456789
fourth_name ="sunil kumar"
fifth_name ="I want to became a data scientist"

print(first_name)
print(second_name)
print(third_name)
print(fourth_name)
print(fifth_name)

Code square
Data science
123456789
sunil kumar
I want to became a data scientist

In [3]:
## concatinate two variable of your firstname & last name

first_name ="Sunil "
last_name ="Kumar"
full_name =first_name+last_name
print(full_name)

Sunil Kumar

In [5]:
## create a string variable of your fisrname and lastname slice a string using indexing so it will print your fisrtname

name ="sunil kumar"
print(name[0:5])
print(name[-1:: ])
print(name[ : ])
print(name[0::2])

sunil
r
sunil kumar
snlkmr

In [13]:
## Create a list with diffrent states of india
## use for loop to print items from list

india =["andhra pradesh","arunachal pradesh","assam","bihar","goa"]

for item in india:
     print(item)

andhra pradesh
arunachal pradesh
assam
bihar
goa

In [15]:
##Create a variable `city` and assign the name of your favorite city to it. Print the variable
## Print the data type of the variable `city`

city = "Ladakh"
print(city)
print(type(city))

Ladakh
<class 'str'>

In [17]:
##  Convert the integer `42` to a string and assign it to a new variable. Print the new variable.

a =42
print(type(a))
b =str(a)
print(b)
print(type(b))

<class 'int'>
42
<class 'str'>

In [18]:
##  Use len() on your name variable and count lenght of your name

name ="sunil kumar"
print(len(name))

11

In [21]:
##  use " if " statement to to check "code" word exist or not in " code square"

name ="code square"
if "code" in name:
    print("yes,word is exist")

else:
    print("no,word is not exist")

yes,word is exist

In [26]:
## demonstrate the use of the following arithmetic operators in Python on any numbers:

##Addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor Division.

a =int(4567)
b =int(23)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**2)
print(a//b)

4590
4544
105041
198.56521739130434
13
20857489
198

In [27]:
##  Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) and evaluate them. 

a = int(23)
b =int(34)
print(a < b)
print(a > b)
print(a == b)
print(a != b)

True
False
False
True

In [28]:
## Create a string variable and use the ' in ' and ' not in ' keywords to check for the presence or absence of a
## substring within the string EX : " Python Is Powerfull language". & Print the results.

word ="Python is powerfull language"
if "Python" in word:
    print("in")
    print(word)

else:
    print("not in")

in
Python is powerfull language

In [29]:
##  Define a list with at least three elements. Use a for loop to print each element of the list.

list =["code","python","data science"]
for i in list:
    print(i)

code
python
data science

In [30]:
## Use the range() function to print numbers from 10 to 1 using a for loop
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [45]:
## Create a string variable and demonstrate the following string methods: slicing, negative indexing, converting to
## uppercase converting to lowercase, stripping whitespace, replacing a substring, and splitting the string.
name =" sunil kumar "
print(name[1 : ])
print(name[-14:-1])
print(name.upper())
print(name.lower())
print(name.strip())
print(name.replace("s","y"))
print(name.split())

sunil kumar
 sunil kumar
 SUNIL KUMAR
 sunil kumar
sunil kumar
 yunil kumar
['sunil', 'kumar']

In [77]:
## Create a list inside list with at least five elements of different data types. Print the list.
## Access and print same item from the list using both positive and negative indexing.
##  Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

my_list =["cat","dog",[1,4],"rat"]

print(my_list[1])
print(my_list[-3])
print(my_list[2][0])
print(my_list[2][1])
my_list.append("loin")
print(my_list)
my_list.insert(1,"tiger")
print(my_list)
my_list.remove("dog")
print(my_list)
my_list.pop()
print(my_list)
del my_list[1]
print(my_list)

dog
dog
1
4
['cat', 'dog', [1, 4], 'rat', 'loin']
['cat', 'tiger', 'dog', [1, 4], 'rat', 'loin']
['cat', 'tiger', [1, 4], 'rat', 'loin']
['cat', 'tiger', [1, 4], 'rat']
['cat', [1, 4], 'rat']

In [74]:
## Join two lists and print the all item using for loop and also check is "data" present in list using "if else" statement
##list_1 = [ 1,2,3,4,"power", True] and list_2= ["one", "two","Three", "Data", False]
list_1 = [ 1,2,3,4,"power"]
list_2= ["one", "two","Three", "Data"]
list =list_1+list_2
for i in list:
    print(i)
if "Data" in list:
    print("true")
else:
    print("flase")

1
2
3
4
power
one
two
Three
Data
true